extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Learn &amp; Test Your Knowledge
    p.lead Choose from a variety of free courses
    h6.h6MainPage Some include: HTML, CSS, Javascript, Nodejs, SQL, Jquery and more!
    a.btn.btn-info-outline.btn-lg(href='/register') Begin for FREE
